.card-custom {
    height: 400px!important;
}

.carousel-indicators {
    bottom: 25px!important;
}

.filter-option {
    margin-right: 8px;
}

.filter-select {
    height: 34px!important;
    min-width: 140px;
}

.filter-label {
    justify-content: left!important;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 420px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    -webkit-animation-name: animetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatop;
    animation-duration: 0.4s;
}

.modal-header {
    padding: 2px 16px;
    background-color: #dddddd;
    color: #1d1d1d;
}

.modal-body {
    padding: 2px 16px;
}

.close {
    color: #000000!important;
    float: right!important;
    font-size: 40px!important;
    font-weight: bold!important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
